@page "/product"

<h3>Product</h3>

<div>
    <table>
        <thead>
            Name
        </thead>
        <thead>
            Product Details      
        </thead>
        <thead>
            Price
        </thead>
        <thead>
            Category
        </thead>
        <tbody>
            
        </tbody>
        
    </table>
</div>


@code {
    

}
