USE [master]
GO
/****** Object:  Database [DB_Students]    Script Date: 08/01/2025 3:52:39 pm ******/
CREATE DATABASE [DB_Students]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Students', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DB_Students.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_Students_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DB_Students_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Students].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Students]
GO
/****** Object:  Table [dbo].[Student_DT]    Script Date: 08/01/2025 3:52:39 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_DT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](50) NULL,
	[Grade] [nchar](50) NULL,
	[Subject] [nchar](50) NULL,
	[Marks] [int] NULL,
	[Attendance_Percentage] [int] NULL,
 CONSTRAINT [PK_Student_DT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
